################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin/Debug/net8.0
/PostcodeApi.csproj.user
/tests/PostcodeApiTests/bin/Debug/net8.0
/tests/PostcodeApiTests/obj
